<div class="new">
<h1>What you want to say?</h1>
<%= simple_form_for @statements do |f| %>
  <h4><%= f.input :saying, label: "Say something" %></h4>
  <h4><%= f.input :author, label: "Leave a name you're comfortable to be called in this community" %></h4>
  <br />
  <%= f.submit 'Submit', class: 'btn btn-danger' %>
<% end %>
</div>

<div class="row">
  <div class="col col-lg-6 hidden-xs-down title"></div>
  <div class="col-5 links2">
  <%= link_to 'Go back, I have nothing to say', root_path %>
  </div>
</div>