<!DOCTYPE html>
<html>
  <head>
    <title>Dumpster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col col-lg-4 hidden-xs-down title">
           Shout out everything that bothers you!!
      </div>
      <div class="col-5">
        <%= link_to 'Shout Out Here', '#' %>
      </div>
    </header>

    <br class="clear" />

    <%= yield %>
  </body>
</html>
